@{
    ViewData["Title"] = "Home Page";
}

<h1 style='box-sizing: border-box; margin: 0px 0px 0.83em; color: rgb(51, 51, 51); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>Matt&eacute;o Christophe</h1>

<h2 style='box-sizing: border-box; margin: 0px 0px 0.83em; color: rgb(51, 51, 51); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>Objectifs &nbsp;:</h2>
<strike>
    <ol style='box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 1px solid transparent; color: rgb(51, 51, 51); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Avoir une application&nbsp;<a href="http://asp.net/" style="box-sizing: border-box; color: rgb(0, 0, 238);">ASP.Net</a> Core de base nomm&eacute;e &quot;VCubWatcher&quot; qui tourne sur sa machine</div>
            <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
                <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
                    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">D&eacute;marrer un site avec asp dotnet core : &nbsp;<a href="https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-5.0&tabs=visual-studio" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-5.0&amp;tabs=visual-studio</a></div>
                </li>
            </ol>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Cr&eacute;er un repository public sur github, bitbucket ou gitlab pour h&eacute;berger votre code.</div>
            <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
                <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
                    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">gitignore de base pour .NET Core : &nbsp;<a href="https://gist.github.com/vmandic/ac2ecc9c24f6899ee0ec46e4ce444a0e" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://gist.github.com/vmandic/ac2ecc9c24f6899ee0ec46e4ce444a0e</a></div>
                </li>
            </ol>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Publier votre code sur le repository &agrave; chaque avanc&eacute;e</div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : &quot;Accueil&quot;, &quot;Liste des stations&quot;, &quot;Carte&quot;, &quot;Mes favoris&quot;</div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Compl&eacute;ter la pages &quot;Accueil&quot; pour pr&eacute;senter votre travail, votre nom/prenom, cette liste d&apos;objectifs&nbsp;<span style="box-sizing: border-box; font-weight: bold;">(que vous rayerez au fur et &agrave; mesure qu&apos;ils sont compl&eacute;t&eacute;s)</span> et l&apos;<span style="box-sizing: border-box; font-weight: bold;">URL o&ugrave; votre code source est visible</span></div>
        </li>
</strike>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Se brancher sur l&apos;API Vcub de Bordeaux M&eacute;tropole pour r&eacute;cup&eacute;rer les donn&eacute;es en temps r&eacute;el</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">API avec des donn&eacute;es simples &agrave; exploiter 🙂 <a href="https://api.alexandredubois.com/vcub-backend/vcub.php" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://api.alexandredubois.com/vcub-backend/vcub.php</a></div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Passer des donn&eacute;es &agrave; la vue : &nbsp;<a href="https://docs.microsoft.com/fr-fr/aspnet/core/mvc/views/overview" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://docs.microsoft.com/fr-fr/aspnet/core/mvc/views/overview</a></div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">G&eacute;n&eacute;rer des classes C# &agrave; partir d&apos;un flux JSON : &nbsp;<a href="http://json2csharp.com/" style="box-sizing: border-box; color: rgb(0, 0, 238);">http://json2csharp.com/</a></div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Lire des donn&eacute;es issues d&apos;un flux JSON : &nbsp;<a href="https://docs.microsoft.com/fr-fr/dotnet/csharp/tutorials/console-webapiclient" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://docs.microsoft.com/fr-fr/dotnet/csharp/tutorials/console-webapiclient</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Afficher les donn&eacute;es de l&apos;API sous forme de tableau sur la page &quot;Liste des stations&quot; (les stations sont tri&eacute;es par ordre alphab&eacute;tique). Pour chaque station on affichera : la commune, le nom de la station, le nombre de v&eacute;lo &eacute;lectriques, le nombre de v&eacute;los au total, ainsi que le nombre d&apos;emplacements libres.</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Razor Cheat sheet : <a href="https://gist.github.com/jonlabelle/8738373" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://gist.github.com/jonlabelle/8738373</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Afficher les donn&eacute;es de l&apos;API sous forme de carte sur la page &quot;Carte&quot; (chaque station sera repr&eacute;sent&eacute;e par une &eacute;pingle &agrave; son emplacement)</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Int&eacute;grer une carte openstreet map sur un site : <a href="https://nouvelle-techno.fr/actualites/2018/05/11/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://nouvelle-techno.fr/actualites/2018/05/11/pas-a-pas-inserer-une-carte-openstreetmap-sur-votre-site</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Ajouter sur chaque &eacute;pingle de la carte la possibilit&eacute; de cliquer pour afficher une infobulle qui indiquera le nombre de v&eacute;los disponibles et de places libres &agrave; la station en question</div>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Ajouter sur la page &quot;Liste des stations&quot; et/ou &quot;Carte&quot; la possibilit&eacute; de rajouter des stations en favoris</div>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Compl&eacute;ter la page &quot;Mes favoris&quot; pour n&apos;afficher sous forme de tableau que les stations marqu&eacute;es en favoris</div>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Travailler avec les cookies&nbsp;<a href="https://www.c-sharpcorner.com/article/asp-net-core-working-with-cookie/" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://www.c-sharpcorner.com/article/asp-net-core-working-with-cookie/</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Centrer automatiquement la carte par rapport &agrave; la position de l&apos;utilisateur</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">R&eacute;cup&eacute;rer la position de l&apos;utilisateur : <a href="https://developer.mozilla.org/fr/docs/Web/API/Geolocation_API" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://developer.mozilla.org/fr/docs/Web/API/Geolocation_API</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Trier automatiquement la liste des stations par rapport &agrave; la position de l&apos;utilisateur</div>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Rendre votre application bilingue Fran&ccedil;ais / Anglais</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;"><a href="https://docs.microsoft.com/fr-fr/aspnet/core/fundamentals/localization" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://docs.microsoft.com/fr-fr/aspnet/core/fundamentals/localization</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">D&eacute;ployer votre code sur un serveur accessible publiquement en consultation</div>
    <ol style="box-sizing: border-box; margin: 0px; padding: 0px 0px 0px 40px; border: 0px;">
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">D&eacute;ployer une application&nbsp;<a href="http://asp.net/" style="box-sizing: border-box; color: rgb(0, 0, 238);">ASP.Net</a> Core sur un serveur Debian : <a href="https://medium.com/%40setu677/how-to-host-asp-net-core-on-linux-using-nginx-85339560e929" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://medium.com/setu677/how-to-host-asp-net-core-on-linux-using-nginx-85339560e929</a></div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">D&eacute;ployer une application&nbsp;<a href="http://asp.net/" style="box-sizing: border-box; color: rgb(0, 0, 238);">ASP.Net</a> Core sur Azure : <a href="https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/publish-to-azure-webapp-using-vs?view=aspnetcore-5.0" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/publish-to-azure-webapp-using-vs?view=aspnetcore-5.0</a></div>
        </li>
        <li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
            <div style="box-sizing: border-box; margin: 0px; padding: 0px;">D&eacute;ployer une application&nbsp;<a href="http://asp.net/" style="box-sizing: border-box; color: rgb(0, 0, 238);">ASP.Net</a> sur Heroku :&nbsp;<a href="https://dev.to/alrobilliard/deploying-net-core-to-heroku-1lfe" style="box-sizing: border-box; color: rgb(0, 0, 238);">https://dev.to/alrobilliard/deploying-net-core-to-heroku-1lfe</a></div>
        </li>
    </ol>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">Faire en sorte que votre site soit agr&eacute;able &agrave; utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)</div>
</li>
<li style="box-sizing: border-box; margin: 0px; padding: 0px; border: 1px solid transparent;">
    <div style="box-sizing: border-box; margin: 0px; padding: 0px;">BONUS : toute fonctionnalit&eacute; suppl&eacute;mentaire sera valoris&eacute;e, pensez-juste &agrave; l&apos;indiquer sur votre page d&apos;accueil que je puisse la comptabiliser</div>
</li>
</ol>

<h1 style='box-sizing: border-box; margin: 0px 0px 0.83em; color: rgb(51, 51, 51); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>Code source :&nbsp;<a href="https://github.com/Matteo-Ynov/VCubWatcher">https://github.com/Matteo-Ynov/VCubWatcher</a></h1>